
.card_container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 5px;
  transition: 0.3s;
  animation: ease-in-out;
}

.card_container:hover{
  transform: scale(1.1);
}

.card

.card_cont {
  margin: 1rem;
  margin-top: 0.5rem;
}


/* Card boxe


.card {
  overflow: hidden;
  box-shadow:0 2px 20px cornsilk;
  border-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card_img{
    height: 12rem;
    width: 100%;
    object-fit:contain;
}

.card_title{
  margin-bottom: .5rem;
}


.card_button{
  display: flex;
  justify-content:center;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 2rem;
}

*/

