body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar */

#navbar, footer {
  display: flex;
  align-items: center;
  background: #008457;
  height: 6rem;
}

#navbar h1 {
  margin-left: 1vw;
  font-family: 'Helvetica';
  float: left;
  font-size: 26px;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

#navbar .link-container {
  margin-left: auto;
}

.explore {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.link {
  margin-right: 3vw;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  color: white;
  font-family: 'Helvetica';
  font-weight: bold;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.leaflet-container {
  margin: auto;
  margin-top: 2%;
  width: 70vw;
  height: 40vw;
}

footer {
  margin-top: 3rem;
  color: white;
}

.memo {
  margin-top: 2rem;
  text-align: center;
  font-size: 12px;
}
/* Card boxes*/

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap:2rem;
  justify-content: center;
}

.card {
  margin-top: 40px;
  overflow: hidden;
  box-shadow:0 2px 20px black;
  border-bottom: 2rem;
  border-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  font-family: 'Helvetica';
}

.card:hover{
  transform: scale(1.1);
}

.click {
  text-decoration: none;
  color: black;
}

.card_img{
    height: 12rem;
    width: 100%;
    object-fit:contain;
    margin-top: 1rem;
}

.card_title{
  margin-bottom: .75rem;
  text-align: center;
  font-size: 13px;
}

.card_button{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.button {
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;

}

.fish{
  border: 3px solid green;
  padding: 1rem;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}

/*fish info page*/
.danger {
  text-align: left;
  color:black;
  margin-left: 1rem;
  line-height: .5em;
}


ul {
  color: black;
  font-size: 25px;
  display: table;
  margin: 0 auto;
}

.cite {
  font-size: 12px;
  margin-left: 1rem;
}

.main-fish {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  height: 30rem;
  width: 50rem;
  padding: 10px;
  border: 3px solid black;
  background-color: white;
}

.main-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  height: 30rem;
  width: 50rem;
  padding: 10px;
  border: 3px solid black;
  background-color: white;
}


.words {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: green;
  font-size: 20px;
}



.team_member {
  margin-top: 2rem;
  overflow: hidden;
  border-bottom: 2rem;
  border-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: grey;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.mission {
  text-align: center;
}
.fish {
  color: green;
}

.top-specie {
  text-align: center;
  font-size: 2.75rem;
  margin-top: 2rem;
  color: rgb(46, 137, 111);
  -webkit-text-stroke-width: .45px;
  -webkit-text-stroke-color: black;
}


/* About Page*/

.area {
  margin-top: 2rem;
  margin: 2rem;
  color: black;
  font-weight: bold;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;
}

.top-headers {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

li {
  color: black;
  white-space: nowrap;
  font-weight: 2px;
}


a {
  text-align: left;

}

.disclaimer {
  text-align: center;
}

.fish-des {
  margin-left: 2rem;
  font-size: 2rem;
}
.descr {
  margin-left: 2.1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  white-space: initial;
}

.descr {
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
}

.top {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  text-decoration: underline;
  line-height: 1.8px;
}

.squares {
  flex: 30.33%;
  padding: 5px;
  margin-left: 20px ;
  text-align: center;
  text-decoration: none;
}

.sides {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}




.boxes:hover{
  transform: scale(1.1);
}


.medium {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(46, 137, 111);
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}


.boxes {
  width: 100%;
  height: 100%;
  width: 600px;
  height: 400px;
  text-decoration: none;
  border-radius: 1rem;
}


.mission {
  font-size: 25px;
  color: rgb(73, 72, 72);
  -webkit-text-stroke-color: black;
}

.second {
  color: rgb(46, 137, 111);
  font-size: 2rem;
}

.arrow {
  border: solid #072d20;
  cursor: pointer;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 8px;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.explain {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.about {
    font-size: 1.20em;
    color: rgb(73, 72, 72);
    -webkit-text-stroke-color: black;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: .5px solid black;
  margin-left: 1rem;
}

.adjust {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: .5px solid rgb(61, 61, 61);
}

/* Drop down */
.dropbtn {
  background-color: #008457;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 20px;
  border-radius: 25px;
  padding: 20px;
  height: 4rem;
  width: 15rem;
}

.show {display:block;}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #1d9e44;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 50%;
  margin-left: 42%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Left binding bullet points on explore page */

.alignBullets {
  margin-left: 1rem;
  font-size: 2rem;
}
